@media screen and (max-width: 575px) {
    .links {
        height: 50%;
        overflow: scroll;
    }
    .map {
      height: 50%;
    }
}

.main {
  height:100vh;
}

.title-heading {
  padding-top: 10px;
  padding-left: 10px;
}

td {
  cursor: pointer;
}

h5 {
  padding-left: 10px;
}

.inputFilter {
  margin-left: 10px;
}
