#main {
  height:100vh;
}
#title-heading {
  padding-top: 10px;
}
td {
  cursor: pointer;
}
@media screen and (max-width: 575px) {
    #links {
        height: 50%;
        overflow: scroll;
    }
    #map {
      height: 50%;
    }
}
